.DictionaryRow {
  display: flex;
  justify-content: space-evenly;
}

.DictionaryRow .DictionaryRow-Range, .DictionaryRow .DictionaryRow-Domain {
    width: 100px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DictionaryRow .DictionaryRow-Range {
  color: blue;
}

.DictionaryRow .DictionaryRow-Domain {
  color: red;
}
